.task-row-main{
    padding: 90px 0;
}
.task-card-row{
    border: 1px solid #ced4da;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 370px;
}
.choose-color-row{
    margin-bottom: 10px;
}
.common-color-main{
    width: 61px;
    height: 30px;
    border: 1px solid #ffffff;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
}
.task-card-row h5{
    text-transform: capitalize;
    padding: 0 15px;
    margin: 10px 0 0;
    position: absolute;
}
.submit-btn{
    margin-top: 28px;
}